<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qids_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QIDSAPP" >
        <activity
            android:name=".DecWgt"
            android:exported="false" />
        <activity
            android:name=".DecApp"
            android:exported="false" />
        <activity
            android:name=".TotalScore"
            android:exported="false" />
        <activity
            android:name=".SlowedDown"
            android:exported="false" />
        <activity
            android:name=".Energy"
            android:exported="false" />
        <activity
            android:name=".Interest"
            android:exported="false" />
        <activity
            android:name=".Thoughts"
            android:exported="false" />
        <activity
            android:name=".Myself"
            android:exported="false" />
        <activity
            android:name=".Concentration"
            android:exported="false" />
        <activity
            android:name=".IncWgt"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".IncApp"
            android:exported="false" />
        <activity
            android:name=".Appetite"
            android:exported="false" />
        <activity
            android:name=".Sadness"
            android:exported="false" />
        <activity
            android:name=".Sleep"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>